.bold {
  font-weight: bold; }

.title {
  font-family: "Roboto", sans-serif; }

.about {
  display: flex;
  flex-direction: column;
  background-color: #94D6FF;
  align-content: center;
  width: 100%; }
  .about__title {
    display: flex;
    padding: 20px 0;
    max-width: 1200px;
    border-bottom: 2px solid #333;
    font-size: 1.5em;
    margin: 0 20px; }

.about__text {
  display: flex;
  margin: auto;
  font-size: 1em;
  max-width: 800px; }
  .about__text iframe {
    margin: 20px;
    width: 50%; }
  @media (max-width: 700px) {
    .about__text {
      flex-direction: column; }
      .about__text iframe {
        height: 350px;
        width: auto; } }
  @media (max-width: 460px) {
    .about__text iframe {
      height: 200px; } }
  .about__text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 50%; }
    @media (max-width: 700px) {
      .about__text p {
        width: 100%; } }

.about__content__title {
  font-size: 36px;
  color: #333;
  margin: auto; }
  @media (max-width: 460px) {
    .about__content__title {
      font-size: 30px; } }

.about__content__text {
  padding: 20px 20px;
  font-size: 1.6em;
  color: #333; }
  @media (max-width: 460px) {
    .about__content__text {
      font-size: 1em; } }

.about__links {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 1.5em;
  text-decoration: none; }

.link__more {
  text-decoration: none; }
  .link__more a {
    color: #333;
    text-decoration: underline;
    transition: color .3s; }
    .link__more a:hover {
      color: orange; }

.link__tutor {
  padding-left: 10px; }
  .link__tutor a {
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline; }
    .link__tutor a:hover {
      color: orange; }

.link {
  text-decoration: none; }
