@import '../../config.scss';

.smly{
    background-color: $color1;
}
.smlyabout{
    max-width: 800px;
    margin: auto;

    &__title{
        font-family: $title-font;
        padding: 20px;
        color: $text-black;
        text-align: center;
        border-bottom: 1px solid $text-black;
    }
    &__subtitle{
      font-family: $title-font;
      padding: 10px;
      color: $text-black;
      text-align: center;
      border-bottom: 1px solid $text-black;
    }
    p {
        font-size: 1.5em;
        color: $text-black;
        padding: 40px;
        text-align: left;
        @media(max-width: 800px){
          font-size: 1em;
        }
    }
    a{
        color: blue;
        text-decoration: underline;
        transition: color .3s;
        &:hover{
            color: $color5;
        }
    }

    &__back{
        display: flex;
        justify-content: center;
        margin: 20px auto;
        font-size: 2em;
        text-decoration: none;
        text-decoration: underline;
        color: white;
        padding-bottom: 20px;
        a{
            color: $text-black;
            &:hover{
                color: $color5;
            }
        }
    }
}
.backbtn{
    padding: 20px;
    border-radius: 3px;
    background-color: orange;
    font-size: 1.5em;

}
.kenyaimg{
    display: flex;
    max-width: 700px;
    width: 95vw;
    margin: auto;
}
.about__list{
    font-size: 2em;
    margin: 0 30px;
    color: $text-black;
    @media(max-width: 800px){
      font-size: 1rem;
    }
    &__item{
        text-align: left;
    }
}
